<!doctype html>

<html>
<head>
    <title>PolymerMapsCodelab</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script src="{{url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.min.js')}}"></script>

    <link rel="import" href="{{url_for('static', filename='bower_components/google-map/google-map.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/google-map/google-map-directions.html')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <link rel="import" href="{{url_for('static', filename='bower_components/iron-icon/iron-icon.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/iron-icons/iron-icons.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/paper-item/paper-item.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/paper-item/paper-icon-item.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/paper-input/paper-input.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/paper-card/paper-card.html')}}">

    <link rel="import" href="{{url_for('static', filename='bower_components/iron-icons/maps-icons.html')}}">
    <link rel="import" href="{{url_for('static', filename='bower_components/paper-tabs/paper-tabs.html')}}">

    <link rel="import" href="{{url_for('static', filename='bower_components/iron-meta/iron-meta.html')}}">


    <style is="custom-style">
        paper-tabs {
            --paper-tabs-selection-bar-color: #0D47A1;
            margin-top: 16px;
        }

        paper-tab {
            --paper-tab-ink: #BBDEFB;
        }

            /* Other styles that make things more pleasant.
        These could instead be added in styles.css since they
        do not use any Polymer styling features. */
            paper-tab iron-icon {
                margin-right: 10px;
            }

            paper-tab.iron-selected {
                background: rgb(66, 133, 244);
                color: white;
            }
    </style>
</head>

<body unresolved>
    <dom-module id="map-element">
        <template>
        <google-map latitude="{% if map_lat is defined %}{{map_lat}}{% else %}-25.363{% endif %}" longitude="{% if map_lng is defined %}{{map_lng}}{% else %}131.044{% endif %}" map="{% raw %}{{map}}{% endraw %}"
                    
                    api-key="AIzaSyARzGSC4ZknM8GJC-Ih9djcudkLEGKEgec"  
                    zoom="4" ><!--disable-default-ui> TODO: reenable, just don't have a fucking mouse-->
            <!--api-key="AIzaSyBsTv3hVvBB0bMS6NNjHMzlIA5bwvz6Ajo"-->  <!--restored proper api key, backup just in case-->
            {% for lat_long in lat_longs %}
            <google-map-marker latitude="{{ lat_long[0] }}" longitude="{{ lat_long[1] }}"
                               title="{{ lat_long[3]}}, {{lat_long[2]}}" draggable="true"
                               map="{% raw %}{{map}}{% endraw %}" click-events="true" on-google-map-marker-click="markerClicked"></google-map-marker>
            {% endfor %}
        </google-map>
            <google-map-directions map="{% raw %}{{map}}{% endraw %}"
                                   start-address="{{start}}"
                                   end-address="{{end}}"
                                   api-key="AIzaSyARzGSC4ZknM8GJC-Ih9djcudkLEGKEgec"></google-map-directions> 
        </template>

        <script>
            Polymer({
                is: "map-element",
                markerClicked: function(e, detail, sender) {
                    console.log('google_map_marker_click'); // TODO: do something worth shit here
                    console.log(e);
                    console.log(detail);
                    console.log(sender);
                    {% if end is defined %}
                        window.location = "/polymer/" + document.querySelector('google-map').latitude + '/' + + document.querySelector('google-map').longitude +'/' + e.target.title;
                    {% elif start is defined %}
                        window.location = "/polymer/" + document.querySelector('google-map').latitude + '/' + + document.querySelector('google-map').longitude +'/' + escape("{{start}}") + '/' + e.target.title;
                    {% else %}
                        window.location = "/polymer/" + document.querySelector('google-map').latitude + '/' + + document.querySelector('google-map').longitude +'/' + e.target.title;
                    {% endif %}
                }
            });
        </script>
    </dom-module>
    <map-element></map-element>
</body>
</html>